@{
    Layout = null;
}

<table class="table table-hover" id="studentTable">
    <thead>
        <tr>

            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Student  name</th>
            <th>Student status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Fname
                </td>
                <td>
                    @item.Lname
                </td>
                <td>
                    @item.UserName

                </td>
                <td>
                    @item.status

                </td>
                <td>

                <td>
                    <button class="btn btn-sm btn-primary"><a onclick="showInPopup('@Url.Action("AddOrEdit","Students",new {id=item.Id},Context.Request.Scheme)','Update Student')" class="text-white"><i class="fas fa-pencil-alt"></i></a></button>


                    <button class="btn btn-sm btn-primary">
                        <a onclick="showInPopup('@Url.Action("Details","Students", new { id = item.Id }, Context.Request.Scheme)', 'Details')">Details</a>
                    </button> |
                    <button class="btn btn-sm btn-primary"><a onclick="showInPopup('@Url.Action("AddOrEdit","Students",null,Context.Request.Scheme)','New Student')" class="text-white"><i class="fas fa-pencil-alt"></i></a></button>


                    <button class="btn btn-sm btn-danger">@Html.ActionLink("Delete", "Students", new { id = item.Id }) </button>

                </td>

             


            </tr>
        }
    </tbody>
</table>