@model Student

@{
    ViewData["Title"] = "Details";
    Layout =null;
}

<div>

    <dl class="row">
        <dt class="col-sm-3">
            Full Name
        </dt>

        <dt class="col-sm-9">
            @Model.Fname @Model.Lname
        </dt>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dt>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dt>*@
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<div>
   
</div>
