@model Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dt>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="allStudents">Back to List</a>
</div>
