@model List<Instructor>
@inject MVCCore03Osama.Service.ICourse Course

<table class="table" id="insContent">
    <thead>
        <tr>

            <th></th>
            <th>@Html.DisplayNameFor(m => Model[0].Fname)</th>
            <th>@Html.DisplayNameFor(m => Model[0].Lname)</th>
            <th>@Html.DisplayNameFor(m => Model[0].Email)</th>
            <th>@Html.DisplayNameFor(m => Model[0].PhoneNumber)</th>
            <th>Courses</th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Instructor", null, Context.Request.Scheme)', 'Add Instructor')" class="btn btn-sm btn-primary"> Add Instructor </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{string img = "def.jfif";
                        if (item.ImgName != "def.jfif")
                        {
                            img = item.Email + "/" + item.ImgName;

                        }
                        <img asp-append-version="true" width="40" height="40" style="border-radius: 50%;" src=@("~/Images/" + img) />
                    }

                </td>
                <td>
                    @item.Fname
                </td>
                <td>
                    @item.Lname
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber

                </td>


                <td>
                    @{ var crss = await Course.GetAll();
                        SelectList cousrsList = default;
                        var res = crss.Where(c => c.InstructorId == item.Id).ToList();
                        if (res != null)
                        {
                            cousrsList = new SelectList(res, "ID", "Name");
                        }
                    }

                    <select asp-items=@cousrsList class="single-select form-control">
                    </select>
                </td>
                <td>
                    <partial name="BtnGroup" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>