@model University.Models.ApplicationUser
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            FullName
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fname) @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
