@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@{
    Layout = null;
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}
<button class="btn btn-sm btn-primary"><a onclick="showInPopup('@Url.Action("AddOrEdit","Posts",null,Context.Request.Scheme)','Update Post')" class="text-white"><i class="fas fa-pencil-alt"></i></a>New Post</button>

@*@foreach (var item in Model)
    {
       <div class="row">
            <div class="col-11 bg-light">
                <div>



                    <div>
                        <p>
                        <p> @item.postOwner.Fname  @item.postOwner.Lname</p>
                        @item.Title
                        </p>
                        @if (user.Id == item.ApplicationUserId)
                        {
                            <button class="btn btn-sm btn-primary f-12"><a onclick="showInPopup('@Url.Action("AddOrEdit","Posts",new {id=item.ID},Context.Request.Scheme)','Update Post')" class="text-white"><i class="fas fa-pencil-alt"></i></a></button>

                            <form asp-action="Delete" asp-route-id="@item.ID" style="display:inline-block" onsubmit="return jQueryAjaxDelete(this);">

                                <input type="submit" value="Delete" class="btn btn-sm btn-danger" />

                            </form>
                        }

                    </div>
                    <div class="col-9">
                        <p> @item.Body</p>
                    </div>
                    <div>
                        <input type="text" name="@item.ID" onkeyup="writeComment(this,'@item.ID')" />

                    </div>
                    @foreach (var comment in item.Comments)
                    {


                        <div class=" bg-white col-8">
                            @comment.Body
                        </div>
                    }


                </div>
            </div>
        </div>*@





<div class="container bootdey">
    <div class="col-md-12 bootstrap snippets">
        @*<div class="panel">
            <div class="panel-body">
                <textarea class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                <div class="mar-top clearfix">
                    <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
                    <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                    <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                    <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                </div>
            </div>
        </div>*@
        <div class="panel">
            <div class="panel-body">
                <!-- Newsfeed Content -->
                <!--===================================================-->
                @foreach(var item in Model) {
                <div class="media-block" style="border-radius: 2%;">
                    <a class="media-left" href="#"><img class="img-circle img-sm"  style="width:10%;" alt="Profile Picture" src="~/Images/def.jfif"></a>
                    <div class="media-body">
                        <div class="mar-btm">
                            <a href="#" class="btn-link text-semibold media-heading box-inline">@item.postOwner.Fname  @item.postOwner.Lname</a>
                            <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - From Mobile At- @item.Date</p>
                        </div>
                        <p>@item.Body...</p>
                        <div class="pad-ver">
                            <div class="btn-group">

                                @if (user.Id == item.ApplicationUserId)
                                {
                                    <button class="btn btn-sm btn-default btn-hover-success"><a onclick="showInPopup('@Url.Action("AddOrEdit","Posts",new {id=item.ID},Context.Request.Scheme)','Update Post')" class="text-white"><i class="fas fa-pencil-alt"></i></a></button>

                                    <form asp-action="Delete" asp-route-id="@item.ID" style="display:inline-block" onsubmit="return jQueryAjaxDelete(this);">

                                        <input type="submit" value="Delete" class="btn btn-sm btn-default btn-hover-success" />

                                    </form>
                                }
                            </div>
                            <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a>
                            
                                <input  class="bg-darken-yellow col-lg-8 card b-none" type="text" onkeyup="writeComment(this,'@item.ID')" />
                            


                            @foreach (var comment in item.Comments)
                            {
                                <div class="bg-darken-yellow col-lg-8 card offset-1">

                                    <div class="media-block">
                                        <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="~/Images/def.jfif"></a>
                                        <div class="media-body">
                                            <div class="mar-btm">
                                                <a href="#" class="btn-link text-semibold media-heading box-inline">@comment.commentOwner.Fname  @comment.commentOwner.Lname</a>
                                                <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - From Mobile At- @comment.Date</p>
                                            </div>
                                            <p>@comment.Body...</p>

                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            }






                            <!-- =====================commmentt=========================================-->
                            <!--====end comment===================================================-->
                        </div>
                        <hr>
                    </div>
                </div>
                }
                <!--===================================================-->
                <!-- End Newsfeed Content -->

            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<script>
        function writeComment(e,postId)
        {
            if (event.keyCode === 13) {
                event.preventDefault();
               $.ajax({
            type: "Post",
            url: '@Url.Action("CreateComment", "Posts")',

             data: {
                 'postid': postId,
                 'commnetbody': e.value
                   },

            success: function (Data) {
                if (Data) {

                    $('#ViewAll').html(Data.html);

                }

            },
            error: function () {
                alert('A error');
                console.log(postid)
                   }

               });


            }
        }
</script>
